h1{
  text-align: center;
  background-color: red;
}
body{
    
     background-color: rgb(143, 160, 175);
}

nav{
    background-color: bisque;
}
footer{
    background-color: beige;
    text-align: center;
}
main{
    text-align: justify;
}
img{
    width: 200px;
    object-fit: cover;
    border: 2px solid black;
}
.madre{
    color: green;
    text-align: justify;
}
.lobo{
    color: blue;
    text-align: justify;
}
.caperucita{
    color: red;
    text-align: justify;
}